<!DOCTYPE html>
<html lang="en">

<head>
    <title>XCEREBRO</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Data acquisition for the XCEREBRO device.">
    <meta name="author" content="Maurício Mussatto Scopel">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/6c6025ea9e.js" crossorigin="anonymous"></script>

    <!-- Lodash -->
    <script src="/js/vendor/lodash.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- JS -->
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script>
        const socket = io("http://localhost:3000");
    </script>
</head>

<body>

<div class="sidebar">
    <a class="d-flex justify-content-center" href="/">
        <img src="/img/xmen.png" alt="X-Men logo" width="80px">
    </a>
    <hr class="sidebar-divider my-0">
</div>

<div class="main">
    <h2>XCEREBRO - Data acquisition</h2>
    <br/>
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="col-sm-4">
                <div class="card events">
                    <div class="card-body form-group">
                        <h5 class="card-title">Events</h5>
                        <ul id="events-queue" class="list-group">
                        </ul>

                        <div class="form-check">
                            <input type="checkbox" id="loop-cb" class="form-check-input">
                            <label class="form-check-label" for="loop-cb">Loop</label>
                        </div>

                        <br/>

                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="loop-times-span">Loop times</span>
                            </div>
                            <input type="number" id="loop-times-input" class="form-control"
                                   placeholder="Loop times" aria-label="Loop times"
                                   aria-describedby="loop-times-span">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Subject info</h5>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="subject-span">Subject</span>
                            </div>
                            <input type="number" id="subject-input" class="form-control"
                                   placeholder="Subject" aria-label="Subject"
                                   aria-describedby="subject-span">
                        </div>
                    </div>
                </div>

                <br/>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Add event</h5>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="duration-event-span">Duration</span>
                            </div>
                            <input id="duration-event-input" type="number" class="form-control"
                                   placeholder="Duration" aria-label="Duration"
                                   aria-describedby="duration-event-span">
                        </div>

                        <div class="btn-group" role="group" aria-label="Actions">
                            <button type="button" class="btn btn-outline-secondary" onclick="sendAddLeftEventMessage()">
                                Left
                            </button>
                            <button type="button" class="btn btn-outline-secondary" onclick="sendAddRestEventMessage()">
                                Rest
                            </button>
                            <button type="button" class="btn btn-outline-secondary"
                                    onclick="sendAddRightEventMessage()">Right
                            </button>
                        </div>
                    </div>
                </div>

                <br/>

                <button type="button" class="btn btn-primary float-right"
                        onclick="sendStartDataAcquisitionMessage()"
                        data-toggle="modal" data-target="#data-acquisition-modal"
                        data-backdrop="static" data-keyboard="false">
                    <i class="fas fa-play-circle"></i> Start
                </button>
            </div>
        </div>
    </div>

    <div id="data-acquisition-modal" class="modal fade" tabindex="-1"
         role="dialog" aria-labelledby="data-acquisition-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="data-acquisition-modal-title" class="modal-title">Data acquisition</h5>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-sm-center">
                        <div class="col-sm-12">
                            <div class="row justify-content-between data-acquisition">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <span id="left-arrow" class="arrow-off">
                                          <i class="fas fa-arrow-circle-left fa-7x"></i>
                                        </span>
                                    </div>
                                    <div class="row justify-content-center">
                                        <p id="left-timer"></p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="row justify-content-end">
                                        <span id="right-arrow" class="arrow-off">
                                          <i class="fas fa-arrow-circle-right fa-7x"></i>
                                        </span>
                                    </div>
                                    <div class="row justify-content-center">
                                        <p id="right-timer"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="float-right">
                                <button id="stop-data-acquisition-button" type="button" class="btn btn-stop"
                                        onclick="stopDataAcquisition()" disabled>
                                    <i class="fas fa-stop-circle"></i> Stop
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/modal-helper.js"></script>
<script src="/js/data-acquisition-layout-configuration.js"></script>
<script src="/js/events-management.js"></script>
<script src="/js/data-acquisition-management.js"></script>
</body>

</html>